.cards{
    display: flex;
}
.C8{
    background-image: url('cards.png');
    background-repeat: no-repeat;
    background-position: -287px -1190px;
    width: 135px; height: 186px;
    border-radius: 15px;
}
.CQ{
    background-image: url('cards.png');
    background-repeat: no-repeat;
    background-position: -0px -1790px;
    width: 135px; height: 186px;
    border-radius: 15px;
}
.C9{
    background-image: url('cards.png');
    background-repeat: no-repeat;
    background-position: -430px -1390px;
    width: 135px; height: 186px;
    border-radius: 15px;
}
.CA{
    background-image: url('cards.png');
    background-repeat: no-repeat;
    background-position: -143px -2190px;
    width: 135px; height: 186px;
    border-radius: 15px;   
}
.CJ{
    background-image: url('cards.png');
    background-repeat: no-repeat;
    background-position: -287px -2390px;
    width: 135px; height: 186px;
    border-radius: 15px;
}